# python
__pycache__
*.pyc

# virtual environment
venv
.venv

# tests
junit/
.coverage
coverage.xml
htmlcov/

# tooling
*.log

# docs
docs/_apidoc/
docs/_build/

# qt stuff
*_rc.py

# project
*~
*.bak
*.qgs
*.qgz
*.zip
