<?xml version = '1.0' encoding = 'UTF-8'?>
<plugins>
    <pyqgis_plugin name="QGIS GML Application Schema Toolbox" version="_VERSION_">
        <description><![CDATA[Complex features loading]]></description>
        <version>_VERSION_</version>
        <qgis_minimum_version>2.14.0</qgis_minimum_version>
        <qgis_maximum_version>2.99.0</qgis_maximum_version>
        <homepage>https://www.oslandia.net/git/Client-projects/1510_02_brgm_gml</homepage>
        <file_name>qgis_complex_features.zip</file_name>
        <icon>/static/packages/icon_5.svg</icon>
        <author_name>Oslandia</author_name>
        <download_url>http://37.187.164.233/brgm_gml/plugins/gml_application_schema_toolbox-_VERSION_.zip</download_url>
        <uploaded_by>mhugo</uploaded_by>
        <create_date>2016-03-16T16:46:41.724165</create_date>
        <update_date>2016-03-16T16:46:41.724165</update_date>
        <experimental>False</experimental>
        <deprecated>False</deprecated>
        <tracker>https://www.oslandia.net/git/Client-projects/1510_02_brgm_gml</tracker>
        <repository>https://www.oslandia.net/git/Client-projects/1510_02_brgm_gml</repository>
        <tags>complex features, gml, application schema</tags>
        <downloads>1</downloads>
        <average_vote>5</average_vote>
        <rating_votes>5</rating_votes>
    </pyqgis_plugin>    
</plugins>
