<?xml version = '1.0' encoding = 'UTF-8'?>
<plugins>
    <pyqgis_plugin name="QGIS GML Application Schema Toolbox" version="_VERSION_">
        <description><![CDATA[Consumption and use of GML complex features like INSPIRE harmonised data (vector), GeoSciML within QGIS]]></description>
        <version>_VERSION_</version>
        <qgis_minimum_version>2.99.0</qgis_minimum_version>
        <qgis_maximum_version>3.99.0</qgis_maximum_version>
        <homepage>https://github.com/INSPIRE-MIF/gml_application_schema_toolbox</homepage>
        <file_name>gml_application_schema_toolbox.zip</file_name>
        <icon>/static/packages/icon_5.svg</icon>
        <author_name>BRGM, Oslandia, Copernicus, Camptocamp, Spatialys, titellus</author_name>
        <download_url>https://github.com/INSPIRE-MIF/gml_application_schema_toolbox/archive/v_VERSION_.zip</download_url>
        <uploaded_by></uploaded_by>
        <create_date>2016-03-16T16:46:41.724165</create_date>
        <update_date>2016-12-15T16:46:41.724165</update_date>
        <experimental>False</experimental>
        <deprecated>False</deprecated>
        <tracker>https://github.com/INSPIRE-MIF/gml_application_schema_toolbox/issues</tracker>
        <repository>https://github.com/INSPIRE-MIF/gml_application_schema_toolbox</repository>
        <tags>complex features, gml, gmlas, application schema, INSPIRE, GeoSciML, WaterML</tags>
        <downloads>1</downloads>
        <average_vote>5</average_vote>
        <rating_votes>5</rating_votes>
    </pyqgis_plugin>
</plugins>
